version: 0.2

phases:
  install:
    runtime-versions:
      dotnet: 6.0
    commands:
      - sudo apt update -y
      - sudo apt install nuget -y
  build:
    commands:
      - msbuild YourSolution.sln /p:Configuration=Release

artifacts:
  files:
    - '**/bin/Release/**'

cache:
  paths:
    - 'C:\Users\builder\.nuget\packages'
